<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.treatscheme.pojo.DiagnosisDiseasePhysicalexam">

    <select id="queryByDiseaseCode" parameterType="HashMap" resultType="DataRecord">
        select * from diagnosis_disease_physicalexam ddp left JOIN diagnosis_suggest_physicalexam dsp on (ddp.exam_code=dsp.exam_code)
        where ddp.disease_code=#{diseaseCode}
    </select>
   

</mapper>