<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>diagnosis_server</contextName>
	<property name="log.dir" value="${catalina.base}"/>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%class:%line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="alpha_rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/alpha.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/logs/alpha-%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%class:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="console"/>
		<appender-ref ref="alpha_rolling"/>
	</root>

</configuration>