<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpha.self.diagnosis.mapper.DiagnosisAllergicHistoryMapper">
	<resultMap id="BaseResultMap" type="com.alpha.server.rpc.diagnosis.pojo.DiagnosisAllergicHistory">
	    <id column="id" jdbcType="BIGINT" property="id" />
	    <result column="disease_code" jdbcType="VARCHAR" property="diseaseCode" />
	    <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
	    <result column="popu_name" jdbcType="VARCHAR" property="popuName" />
	    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
	    <result column="gender" jdbcType="INTEGER" property="gender" />
	    <result column="min_age" jdbcType="DOUBLE" property="minAge" />
	    <result column="max_age" jdbcType="DOUBLE" property="maxAge" />
	    <result column="default_order" jdbcType="INTEGER" property="defaultOrder" />
	    <result column="description" jdbcType="VARCHAR" property="description" />
	    <result column="special_period" jdbcType="INTEGER" property="specialPeriod" />
	    <result column="is_renal" jdbcType="BIT" property="isRenal" />
	    <result column="is_liver" jdbcType="BIT" property="isLiver" />
	    <result column="threshold" jdbcType="BIGINT" property="threshold" />
	    <result column="user_select_count" jdbcType="BIGINT" property="userSelectCount" />
  	</resultMap>
  
  <select id="queryAllergicHistory" resultType="DataRecord" parameterType="HashMap">
  	select * from diagnosis_allergic_history
  	<where>
  			1 = 1
			<if test="gender != null and gender != ''">
				<![CDATA[
					and (gender = #{gender} or gender is null or gender = 0)
				]]>
			</if>
			<if test="specialPeriod != null and specialPeriod != ''">
				and (special_period = #{specialPeriod} or special_period is null)
			</if>
			<if test="age != null and age != ''">
				<![CDATA[
					and ((min_age is null and min_age is null)
					or (min_age <= #{age} and max_age >= #{age}))
				]]>
			</if>
			<if test="liverAndRenal != null and liverAndRenal != ''">
				and (is_liver = #{liverAndRenal} or is_renal = #{liverAndRenal})
			</if>
			<if test="diseaseName != null and diseaseName != ''">
				<!-- and disease_name like concat(concat('%',#{diseaseName}),'%') -->
				
				and disease_name like CONCAT('%',#{diseaseName},'%')
			</if>
			<if test="userAllergicHistoryCode != null">
				and disease_code in 
				<foreach item="item" index="index" collection="userAllergicHistoryCode" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="userAllergicHistoryCodeNotIn != null">
				and disease_code not in 
				<foreach item="item" index="index" collection="userAllergicHistoryCodeNotIn" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="threshold != null and threshold != ''">
				and threshold = #{threshold} and user_select_count > threshold
			</if>
			<!-- <if test="threshold != null">
				order by user_select_count desc,IFNULL(max_age,150)
			</if>
			<if test="threshold == null">
				order by IFNULL(max_age,150)
			</if> -->
			<choose>
				<when test="diseaseName != null and diseaseName != ''">
					ORDER BY
					(case
					when disease_name = #{diseaseName} then 1
					when disease_name like concat(#{diseaseName},'%') then 2
					when disease_name like concat('%',#{diseaseName}) then 3
					when disease_name like concat('%',#{diseaseName},'%') then 4
					else 5
					end )
				</when>
				<otherwise>
					order by IFNULL(default_order,1000)
				</otherwise>
			</choose>
			<if test="limitSize != null and limitSize != ''">
				limit 0,#{limitSize}
			</if>
	</where>
  </select>
  
  <select id="querySelectedAllergicHistory" parameterType="HashMap" resultType="DataRecord">
		SELECT disease_code,disease_name,description from diagnosis_allergic_history a where a.disease_code in
		<foreach collection="userAllergicHistoryCode" item="item" open="(" separator="," close=")">
			#{item}
		</foreach> 
		union all
		SELECT answer_value as disease_code,content as disease_name,'' as description from basic_answer where basic_question_id = 1007 and answer_value in
		<foreach collection="userAllergicHistoryCode" item="item" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</select>
	
	<update id="updateUserSelectCount" parameterType="HashMap">
		UPDATE diagnosis_allergic_history set user_select_count = IFNULL(user_select_count,0) + 1
		<where>
			<if test="codeList != null">
				and disease_code in
				<foreach collection="codeList" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
</mapper>