<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.server.rpc.diagnosis.pojo.DiagnosisConcomitantSymptom">

	<select id="findBySympNames" resultType="DataRecord" parameterType="HashMap">
		SELECT * from diagnosis_concomitant_symptom where symp_name in
		<foreach item="item" index="index" collection="cocnSympNames" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>