<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpha.self.diagnosis.mapper.SyCommonConcSymptomMapper">
    <resultMap type="com.alpha.server.rpc.diagnosis.pojo.SyCommonConcSymptom" id="BaseResultMap">
        <id property="id" column="id"/>
        <result property="sympCode" column="symp_code"/>
        <result property="sympName" column="symp_name"/>
        <result property="popuName" column="popu_name"/>
        <result property="symbol" column="symbol"/>
        <result property="gender" column="gender"/>
        <result property="generalSymptom" column="general_symptom"/>
        <result property="connCode" column="conn_code"/>
    </resultMap>

    <select id="listByConnCode" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT * from sy_common_concomitant_symptom where 1 = 1 and conn_code in
        <foreach collection="commonSympCodeList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>