<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpha.user.pojo.UserFeedBackItem" >

	<select id="queryAll" resultType="DataRecord" parameterType="HashMap">
		select * from user_feedback_item
		<where>
			<if test="systemType != null">
				and (system_type = #{systemType} or system_type is null) 
			</if>
		</where>
	</select>
</mapper>