<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpha.commons.core.mapper.AreaMapper">
   <select id="list" resultType="com.alpha.commons.core.pojo.Area" >
      SELECT id,area,areaid as areaId,cityid as cityId from sys_areas
      WHERE cityid=#{cityId}
   </select>
</mapper>